#### 第一次练习

- 把"Hello World"保存到一个变量里，并且print出来。
- 把一个文本信息保存到一个变量里，print出来，存一个新的文本信息到同一个变量里，print这个新信息。

In [1]:
x="Hello World"
print(x)

Hello World

In [3]:
uni_name='   江西财经大学   '
print(uni_name)

   江西财经大学

- 去掉上例中变量uni_name里的前后空格。

In [9]:
uni_name=uni_name.strip()
print(uni_name)

江西财经大学

In [5]:
# 其他学院的同学可以将school改为自己学院名称

school='统计学院'

- 请将uni_name和school合并起来并打印出来。

- 请在uni_name和school之间加入一个制表符并打印出来，然后在uni_name和school间换一行再打印出来。

In [11]:
print(uni_name+school)
print(uni_name,'\t',school)
print(uni_name,school,sep='\n')

江西财经大学统计学院
江西财经大学 	 统计学院
江西财经大学
统计学院

In [12]:
height_yao = 226
height_ye = 190

- 姚明的身高是226cm，叶莉的身高是190cm，请以文本和数字混排的形式，打印“叶莉比姚明低XXcm”，XX请在print中计算得到。

In [14]:
print('叶莉比姚明低'+str(height_yao-height_ye)+'cm')

叶莉比姚明低36cm